@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Sundwish";
    src: url('../public/fonts/Sunwish\ Maverick.otf');
}

@font-face {
    font-family: "Beatric";
    src: url('../public/fonts/Beatrice.ttf');
}

@font-face {
    font-family: "Proximanova";
    src: url('../public/fonts/proximanova.otf');
}

